<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="PCKimmoPartOfSpeechData.TwoDictFile" value="swum-data/dict.2.txt"></add>
    <add key="PCKimmoPartOfSpeechData.PrepositionsFile" value="swum-data/my.preps2.txt"></add>
    <add key="PCKimmoPartOfSpeechData.VerbsThirdPersonSingularFile" value="swum-data/V_3PS.txt"></add>
    <add key="PCKimmoPartOfSpeechData.VerbsThirdPersonIrregularFile" value="swum-data/v3p-irr.txt"></add>
    <add key="PCKimmoPartOfSpeechData.ModalVerbsFile" value="swum-data/modal_verbs.txt"></add>
    <add key="PCKimmoPartOfSpeechData.IngVerbsFile" value="swum-data/ING.txt"></add>
    <add key="PCKimmoPartOfSpeechData.PastTenseVerbsRegularFile" value="swum-data/ED.txt"></add>
    <add key="PCKimmoPartOfSpeechData.PastTenseVerbsIrregularFile" value="swum-data/ED-IRR.txt"></add>
    <add key="PCKimmoPartOfSpeechData.PastParticipleVerbsRegularFile" value="swum-data/EN.txt"></add>
    <add key="PCKimmoPartOfSpeechData.PastParticipleVerbsIrregularFile" value="swum-data/EN-IRR.txt"></add>
    <add key="PCKimmoPartOfSpeechData.PotentialVerbsFile" value="swum-data/V.txt"></add>
    <add key="PCKimmoPartOfSpeechData.OnlyNounsFile" value="swum-data/O_N.txt"></add>
    <add key="PCKimmoPartOfSpeechData.AdjectivesFile" value="swum-data/AJ.txt"></add>
    <add key="PCKimmoPartOfSpeechData.AdjectivesFile" value="swum-data/AJ.txt"></add>
    <add key="PCKimmoPartOfSpeechData.AdverbsFile" value="swum-data/AV.txt"></add>
    <add key="PCKimmoPartOfSpeechData.DeterminersFile" value="swum-data/DT.txt"></add>
    <add key="PCKimmoPartOfSpeechData.PronounsFile" value="swum-data/PRN2.txt"></add>
    <add key="PCKimmoPartOfSpeechData.IgnorableVerbsFile" value="swum-data/ignorable_verbs.txt"></add>
    <add key="PCKimmoPartOfSpeechData.GeneralVerbsFile" value="swum-data/general_verbs.txt"></add>
    <add key="PCKimmoPartOfSpeechData.EventWordsFile" value="swum-data/event_words.txt"></add>
    <add key="PCKimmoPartOfSpeechData.SideEffectWordsFile" value="swum-data/side_effects.txt"></add>
    <add key="PCKimmoPartOfSpeechData.VerbParticlesFile" value="swum-data/VP.txt"></add>
    <add key="PCKimmoPartOfSpeechData.IgnorableHeadWordsFile" value="swum-data/formal.head_words.txt"/>
    <add key="SamuraiIdSplitter.GlobalWordCountFile" value="swum-data/JavaGlobalFrequency.txt"/>
    <add key="SamuraiIdSplitter.PrefixesFile" value="swum-data/prefixes.txt"/>
    <add key="SamuraiIdSplitter.SuffixesFile" value="swum-data/suffixes.txt"/>
    <add key="PositionalFrequencies.FrequenciesFile" value="swum-data/v_positional_freq.txt"/>
    <add key="UnigramMethodRule.SpecialWordsFile" value="swum-data/special_words.txt"/>
    <add key="UnigramMethodRule.BooleanArgumentVerbsFile" value="swum-data/boolean_argument_verbs.txt"/>
    <add key="UnigramMethodRule.NounPhraseIndicatorsFile" value="swum-data/noun_phrase_indicators.txt"/>
  </appSettings>

</configuration>
